<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheet/style.css">
        <title>
            Home
        </title>
    </head>

    <body class = "body">
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/ciberseguridad">Ciberseguridad</a></li>
            <li><a href="/robotica">Robotica</a></li>
            <li><a href="/metaverso">Metaverso</a></li>
            <li><button type="button" class="button" onclick="location.href='/signup'">Registrarse</button>  </li>
            <li><button type="button" class="button" onclick="location.href='/login'">Iniciar Sesion</button>  </li>
        </ul>
        
        <div class="container">
            <div class="form">
                <form> 
                    <article>     
                        <h1>
                            “¡Bienvenidos al maravilloso mundo de la tecnología!
                        </h1>
                        <p>
                            Aquí encontrarás información sobre los últimos avances y
                            tendencias en el campo de la ciberseguridad.
                            <br><br>
                            Pero no te preocupes, no somos un noticiero de chismes aburrido. Nos gusta presentar 
                            la información de manera divertida y amena. 
                            <br>
                        </p>
                    </article> 
                    
                    <section> 
                        <h3>
                            ¿Sabías que las contraseñas más comunes todavía son <span style="font-family: 'Times New Roman', Times, serif;" >123456</span>  y <span style="font-family: 'Times New Roman', Times, serif;" >contraseña</span>? 
                        </h3>
            
                        <img src="/images/keynotsure.jpg"  class="img">
                        <h3>
                            ¡Vamos, gente! ¡Podemos hacerlo mejor que eso! 😂
                        </h3>
                
                        <img src="/images/password.jpg" class="img"><br>
                    </section> 
                    
                    <section> 
                        <p>
                            Enserio,la ciberseguridad es un tema importante y queremos ayudarte a mantenerte seguro en línea.
                            ¡Sigue leyendo para obtener más información y consejos útiles!”
                            <br><br>
                            La ciberseguridad es la práctica de proteger sistemas, redes y programas de ataques digitales,
                            robos y daños. 
                            <a href="https://www.darkreading.com/">
                                Dark Reading
                            </a>  
                            es una comunidad en línea para profesionales de seguridad 
                            que proporciona noticias completas sobre amenazas cibernéticas y las tecnologías para 
                            defenderse contra ellas. El sitio web cubre una amplia gama de temas relacionados con la seguridad,
                            incluyendo ataques y violaciones, seguridad en la nube, seguridad de bases de datos, cumplimiento, 
                            inteligencia de amenazas, vulnerabilidades y amenazas avanzadas, y seguridad física. 
                            También ofrece recursos como webinars, informes y documentos técnicos para ayudar a los 
                            profesionales a mantenerse al día con las últimas tendencias y desarrollos en el campo de 
                            la ciberseguridad.
                        </p>
                    </section> 
                </form> 
            </div>

            <div class="right-sidebar">
                <h3>
                    Recent Posts
                </h3>
                <p>
                    <a href="https://www.bbc.com/mundo/noticias-65606089">
                        <img src="/images/ia.jpg" class="img">
                    </a>
                </p>
                <br><br><br>
                <p>
                    <a href="https://www.bbc.com/mundo/noticias-65672586">
                        <img src="/images/google.gif" class="gif">
                    </a>
                    Google utiliza la fórmula X-Y-Z para reclutar a sus empleados
                </p>
                <br><br><br>
                <p>
                    La variante Mirai, Quienes son los afectados?
                    <a href="https://www.darkreading.com/endpoint/mirai-variant-tenda-zyxel-rce-ddos">
                        <img src="/images/VIRUS.jpg" class="img" >
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>